<h2>Nouvelle demande d'adhésion</h2>
<p>Une nouvelle demande d'adhésion a été postée avec les informations suivantes :</p>
<ul>
    <li>Nom et prénom : {{ demande.nomPrenom }}</li>
    <li>Raison sociale : {{ demande.raisonSocial }}</li>
    <li>Adresse : {{ demande.adresse }}</li>
    <li>Profession : {{ demande.profession }}</li>
    <li>Contact : {{ demande.contact }}</li>
</ul>
<p>Merci de valider ou refuser la demande depuis l'espace d'administration</p>