<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('dashboard.index') }}">
    <div class="sidebar-brand-icon rotate-n-15">
        <img src="{{ asset('images/logo_without_bg.png') }}" width="64" height="64"
             alt="Les entrepreneurs du Coudray Montceaux">
    </div>
    <div class="sidebar-brand-text mx-3">lEDCM</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="{{ path('dashboard.index') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Adhérents
</div>

<li class="nav-item">
    <a class="nav-link" href="{{ path('dashboard.demande_adhesion') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        Demandes
        <span class="text-danger">({{ counter.nb_demande_adhesion }})</span>
    </a>
</li>